server:
  port: 8085

spring:
  servlet:
    encoding:
      force-response: true
  devtools:
    restart:
      enabled: true
  datasource:
    url: jdbc:h2:tcp://localhost/~/algo
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true

# 네이버 로그인 시큐리티
  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: anPBXpz2lxmzRcpFV8DM
            client-secret: MQ2s9MGfCj
            redirect-uri: http://localhost:8085/login/oauth2/code/naver
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: name, email, gender, birthday
            client-name: Naver
        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

# 카카오톡 로그인
#  spring:
#    security:
#      oauth2:
#        client:
#          registration:
#            kakao:
#              client-id: bb50b5ff4d779ef61c0964c9530319b2
#              client-secret: Ns0rF7cJL3snpHr023FE9Q3e9d15Xgkz
#              redirect-uri: http://localhost:8085/login/oauth2/code/kakao
#              client-authentication-method: POST
#              authorization-grant-type: authorization_code
#              scope: profile_nickname, account_email
#              client-name: Kakao
#          provider:
#            kakao:
#              authorization-uri: https://kauth.kakao.com/oauth2.0/authorize
#              token-uri: https://kauth.kakao.com/oauth2.0/token
#              user-info-uri: https://kapi.kakao.com/v2/user/me
#              user-name-attribute: id

logging:
  level:
    com.smhrd.algo: debug
    org.hibernate.SQL: debug
    org.hibernate.type: trace
