<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>TABRO</title>
    <link href="../assets/img/logo.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark header-t">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3 header-title" th:href="@{/dashboard}">TABRO</a>

    <!-- Sidebar Toggle-->

    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" href="#!" id="sidebarToggle">
        <i class="fas fa-bars" style="height:30px; margin-top:6px;"></i>
    </button>

    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown" role="button"><i class="fas fa-user fa-fw" style="height:30px; margin-top:6px;"></i></a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" th:href="@{/user/logout}">로그아웃</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">메인</div>
                    <a class="nav-link" href="dashboard.html">
                        <div class="sb-nav-link-icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        종합 통계
                    </a>
                    <div class="sb-sidenav-menu-heading">통계</div>
                    <a aria-controls="collapsePages" aria-expanded="false" class="nav-link collapsed" data-bs-target="#collapsePages"
                       data-bs-toggle="collapse" href="#">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-chart-area"></i>
                        </div>
                        차트
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div aria-labelledby="headingTwo" class="collapse" data-bs-parent="#sidenavAccordion"
                         id="collapsePages">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link" th:href="@{/dashboard/station-chart}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-chart-area"></i>
                                </div>
                                대여/반납 예측 차트
                            </a>
                            <a class="nav-link" th:href="@{/dashboard/month-chart}">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-chart-area"></i>
                                </div>
                                이용자 예측 차트
                            </a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">지도</div>
                    <a class="nav-link" th:href="@{/dashboard/map}">
                        <div class="sb-nav-link-icon">
                            <i class="fa-solid fa-map"></i>
                        </div>
                        지도
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div>My Patner</div>
                TABRO
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">이용자 예측 차트</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="dashboard.html">종합 통계</a></li>
                    <li class="breadcrumb-item active">차트</li>
                </ol>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa-solid fa-chart-column"></i>
                        월별 이용자 예측 차트
                    </div>
                    <div>
                        <div id="container3" style="height: 65vh;"></div>
                        <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
                        <script type="text/javascript">
                            var dom = document.getElementById('container3');
                            var myChart = echarts.init(dom, null, {
                              renderer: 'canvas',
                              useDirtyRect: false
                            });
                            var app = {};

                            var option;

                            option = {
                          tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                              type: 'shadow'
                            }
                          },
                          grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                          },
                          xAxis: [
                            {
                              type: 'category',
                              data: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
                              axisTick: {
                                alignWithLabel: true
                              }
                            }
                          ],
                          yAxis: [
                            {
                              type: 'value'
                            }
                          ],
                          series: [
                            {
                              name: '월별 이용자수',
                              type: 'bar',
                              barWidth: '60%',
                              stack: 'Total',
                              color: '#66c1c4',
                              label: {
                                fontSize: 20,
                                fontFamily: 'Ghanachocolate',
                                position: 'top',
                                show: true
                              },
                              data: [76356, 89994, 143576, 215464, 288748, 215464, 202935, 217851, 278985, 257637, 130189, 94217]
                            }
                          ]
                        };

                            if (option && typeof option === 'object') {
                              myChart.setOption(option);
                            }

                            window.addEventListener('resize', myChart.resize);
                        </script>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fa-solid fa-chart-column"></i>
                                주간 이용자 예측 차트
                            </div>
                            <div>
                                <div id="container4" style="height: 65vh;"></div>
                                <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
                                <script type="text/javascript">
                                    var dom = document.getElementById('container4');
                                    var myChart = echarts.init(dom, null, {
                                      renderer: 'canvas',
                                      useDirtyRect: false
                                    });
                                    var app = {};

                                    var option;

                                    option = {
                                  tooltip: {
                                    trigger: 'axis',
                                    axisPointer: {
                                      type: 'shadow'
                                    }
                                  },
                                  grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                  },
                                  xAxis: [
                                    {
                                      type: 'category',
                                      data: ['월', '화', '수', '목', '금', '토', '일'],
                                      axisTick: {
                                        alignWithLabel: true
                                      }
                                    }
                                  ],
                                  yAxis: [
                                    {
                                      type: 'value'
                                    }
                                  ],
                                  series: [
                                    {
                                      name: '일별 이용자수',
                                      type: 'bar',
                                      barWidth: '60%',
                                      stack: 'Total',
                                      color: '#ff6600',
                                      label: {
                                        fontSize: 20,
                                        fontFamily: 'Ghanachocolate',
                                        show: true
                                      },
                                      data: [10929, 11705, 11782, 11761, 11012, 8753, 8481]
                                    }
                                  ]
                                };

                                    if (option && typeof option === 'object') {
                                      myChart.setOption(option);
                                    }

                                    window.addEventListener('resize', myChart.resize);
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="footer-list">
                    <h3>TABRO</h3>
                    <p>푸른 하늘을 위한 오늘의 한 걸음</p>
                    <div class="text-muted">Algorithm 2023</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.2/echarts.min.js"></script>
<script src="js/scripts.js"></script>
</body>

</html>