<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>simpleMap</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="../assets/CSS/mapsearch.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script
        src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=nRUNxPRv9p2mYIfwpEZPC7qHQMtNN5ZB25T3ErVd"></script>


<body onload="initTmap();">
    <div class="mapsearch">
        <div class="search-box1">
            <div id="map"></div>
            <nav class="sidebar">
                <div class="search-list-box">
                    <div class="search-list-title">
                        <div class="search-btn-icon">
                            <ul class="search-btn-list" role="tablist">
                                <li class="bus item-search-tab active" role="presentation">
                                    <button onclick="transport()" type="button" id="bus-navi" class="search-btn-tab bus-button" role="tab"
                                        aria-selected="true">
                                        <i class="fa-solid fa-bus bus-icon"></i><span class="bus-text">대중교통</span>
                                    </button>
                                </li>
                                <li class="bike item-search-tab" role="presentation">
                                    <button onclick="person()" type="button" id="navi" class="search-btn-tab bike-button" role="tab"
                                        aria-selected="false">
                                        <i class="fa-solid fa-person-biking bike-icon"></i><span
                                            class="bike-text">자전거</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div id="search-field" class="search-start">
                            <div class="search-icon">
                                <i class="fas fa-search" style="font-size: 30px; margin-left: 20px;"></i>
                                <input type="text" id='search_keyword' class='text_opt' value=""
                                    placeholder="출발지를 입력해주세요">
                            </div>
                            <div>
                                <button onclick="poi1()" id="search1" class='search_submit' autocomplete="off">출발지검색</button>
                            </div>

                        </div>
                        <div id="search-field1" class="search-end">
                            <div class="search-icon">
                                <i class="fas fa-search" style="font-size: 30px; margin-left: 20px;"></i>
                                <input type="text" id='search_keyword1' class='text_opt' value=""
                                    placeholder="도착지를 입력해주세요">
                            </div>
                            <div>
                                <button onclick="poi2()" id="search2" class='search_submit'>도착지검색</button>
                            </div>
                        </div>
                        <div class="menu-list">리스트</div>
                        <hr>
                    </div>

                    <div class="map_wrap">
                        <div id="menu_wrap" class="list-info-title">


<!--                            <div id="">-->
<!--                                <ul id="placelist">-->
<!--                                    <a href="#">-->
<!--                                        <li>스마트인재개발원</li>-->
<!--                                        <li>광주광역시 동구</li>-->
<!--                                        <li>1234</li>-->
<!--                                        <li>062-123-4567</li>-->
<!--                                    </a>-->
<!--                                </ul>-->
<!--                                <hr>-->
<!--                            </div>-->


                        </div>
                    </div>
                    <div id="bike-toggle" class="hidden">
                        <!-- 자전거에 관한 내용이 들어갈 요소들 -->
                    </div>


                    <div class="menu-list-box hidden" id="bus-toggle">
                        <div class="search-info">
                            <em>최적</em><br>
                            <em>
                                <span style="font-size: 60px;"><strong>11</strong></span>
                                <span>분</span>
                            </em>
                            <span>/ 오후 5:30분 도착</span>
                            <span>/ 1,250원</span>
                            <span>/ 5km</span>
                        </div>
                        <div class="search-list-info">
                            <ol class="search-list">
                                <li class="search-list-start">
                                    <i class="fa-regular fa-circle"
                                        style="color: #04fa00; padding-bottom: 2px; font-size: 30px;"></i>
                                    <span style="margin-left: 15px;">승차</span>
                                    <span>스마트인재개발원</span>
                                </li>
                                <li class="search-list-bus">
                                    <i class="fa-solid fa-bus bus-icon" style="color: #25bc74;"></i>
                                    <span>세종01</span>
                                </li>
                                <li class="search-list-end">
                                    <i class="fa-regular fa-circle"
                                        style="color: #fa0000; padding-bottom: 2px; font-size: 30px;"></i>
                                    <span style="margin-left: 15px;">하차</span>
                                    <span>남구문화예술회관</span>
                                </li>
                            </ol>
                        </div>
                    </div>



                </div>
                <div class="side-button" id="toggleButton"><i class="fa-solid fa-chevron-left"></i></div>
            </nav>
        </div>
    </div>
    <script src="../JS/mapsearch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script>

    </script>
</body>

</html>