<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Gallery - MeFamily Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/CSS/style.css" rel="stylesheet">
    <script defer src="../JS/main.js"></script>
    <!-- =======================================================
    * Template Name: MeFamily
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="home.html">TABRO</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="home.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="fontC" href="home.html">대시보드</a></li>
                <li><a class="fontC" href="our-story.html">타브러 맵</a></li>
                <li class="dropdown"><a class="fontC" href="#"><span>커뮤니티</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="fontC" href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li>
                <li><a class="fontC" href="events.html">이용방법</a></li>
                <li><a class="fontC" href="myPage.html">마이페이지</a></li>
                <li><a class="fontC" href="contact.html">로그아웃</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>My Page</h2>
                <ol>
                    <li><a href="home.html">Home</a></li>
                    <li>My Page</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="gallery-flters">
                        <li data-filter=".filter-home" class="filter-active" >나의 기록</li>
                        <li data-filter=".filter-beach">내 정보 변경</li>
                    </ul>
                </div>
            </div>

            <div class="row gallery-container">

                <div class="col-lg-4 col-md-6 gallery-item filter-home">
                    <div class="gallery-wrap">
                        <div class="innerText">
                            <img src="../assets/img/co2D.png" class="img-fluid" alt="">
                            <h3 class="Myinfo-text-co2 Myinfo-text">온실가스 감소량</h3>
                            <!-- 여기에는 온실가스 감소량 계산해서 넣은 값 저 숫자 넣어진 값에 넣어주심 됨당 ^^-->
                            <div class="text-box1">
                                <h3 class="info-user-co2 info-user"> 2222234234</h3>
                                <h5 class="info-unit unit-co2">kg</h5>
                            </div>
                        </div>
                        <div class="gallery-info">
                            <h4>온실가스</h4>
                            <p>감소량</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-home">
                    <div class="gallery-wrap">
                        <div class="innerText">
                            <img src="../assets/img/kcal.png" class="img-fluid" alt="">
                            <h3 class="Myinfo-text-kcal Myinfo-text">칼로리 소모량</h3><br></h3>
                            <div class="text-box2">
                                <h3 class="info-user-kcal info-user"> 23423</h3>
                                <h5 class="info-unit unit-kcal">kcal</h5>
                            </div>
                        </div>
                        <div class="gallery-info">
                            <h4>칼로리</h4>
                            <p>소모량</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 gallery-item filter-home">
                    <div class="gallery-wrap">
                        <div class="innerText">
                            <img src="../assets/img/move.png" class="img-fluid" alt="">
                            <h3 class="Myinfo-text-move Myinfo-text">총 이동 거리</h3><br></h3>
                            <div class="text-box3">
                                <h3 class="info-user-move info-user"> 1234</h3>
                                <h5 class="info-unit unit-move">km</h5>
                            </div>
                        </div>
                        <div class="gallery-info">
                            <h4>칼로리</h4>
                            <p>소모량</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-home">
                    <div class="gallery-wrap">
                        <div class="innerText">
                            <img src="../assets/img/tree.png" class="img-fluid" alt="">
                            <h3 class="Myinfo-text-tree Myinfo-text">내가 심은 나무<br></h3>
                            <div class="text-box4">
                                <h3 class="info-user-tree info-user">5</h3>
                                <h5 class="info-unit unit-tree">그루</h5>
                            </div>
                        </div>
                        <div class="gallery-info">
                            <h4>내가 심은</h4>
                            <p>나무</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-beach">
                    <form action="changePw" class="was-validated">
                        <div class="mb-3 mt-3">
                            <div style="display: flex; white-space: nowrap; ">
                                <input type="password" class="form-control" id="cPw" name="cpw" placeholder="기존 비밀번호" required>
                                <button type="button" class="btn btn-success btn-sm checkPw" onclick="checkPw()">인증</button>
                            </div>
                            <div class="valid-feedback">인증 완료</div>
                            <div class="invalid-feedback">현재 비밀번호를 입력해주세요</div>
                        </div>
                        <div class="mb-3">
                            <input disabled type="password" class="form-control" id="fPW1" name="fPW"placeholder="변경할 비밀번호" required>
                            <div class="invalid-feedback">8글자 이상 작성해주세요</div>
                        </div>
                        <div class="mb-3">
                            <input disabled type="password" class="form-control" id="fPw2" name="fPw2" placeholder="변경할 비밀번호 확인" required>
                            <div class="valid-feedback">일치</div>
                            <div class="invalid-feedback">비밀번호를 다시 확인해주세요</div>
                        </div>
                        <button type="submit" class="btn btn-success" onclick="changePw()">비밀번호 변경</button>
                    </form>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-vacation">
                    <div class="gallery-wrap">
                        <img src="" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Vacation 1</h4>
                            <p>Vacation</p>
                            <div class="gallery-links">
                                <a href="" class="glightbox" title="Vacation 1"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-home">
                    <div class="gallery-wrap">
                        <img src="" class="img-fluid" alt="">
                        <div class="gallery-info">
                            <h4>Home 3</h4>
                            <p>Home</p>
                            <div class="gallery-links">
                                <a href="" class="glightbox" title="Home 3"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Gallery Section -->

</main><!-- End #main -->

<footer id="footer">
    <div class="container">
        <h3>TABRO</h3>
        <p>푸른 하늘을 위한 오늘의 한 걸음</p>
        <div class="social-links">
            <a href="#" class="team" data-bs-toggle="tooltip" data-bs-placement="right" title="윤석">최</a>
            <a href="#" class="team" data-bs-toggle="tooltip" data-bs-placement="right" title="수완">박</a>
            <a href="#" class="team" data-bs-toggle="tooltip" data-bs-placement="right" title="중호">이</a>
            <a href="#" class="team" data-bs-toggle="tooltip" data-bs-placement="right" title="창용">주</a>
            <a href="#" class="team" data-bs-toggle="tooltip" data-bs-placement="right" title="유민">임</a>
        </div>
        <div class="copyright">
            &copy; Copyright <strong><span>TABRO</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
            Designed by <a href="https://blog.naver.com/yumni_-">TABRO</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../assets/vendor/php-email-form/validate.js"></script>

<!-- jQuery를 사용하는 스크립트 로드 -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- main.js 로드 -->
<script defer src="../JS/main.js"></script>
<!-- 나머지 스크립트들 -->
<script defer>
        $(document).ready(function () {
          // 사용자 수 애니메이션
          animateUserCount(".info-user-co2");
          animateUserCount(".info-user-kcal");
          animateUserCount(".info-user-tree");
          animateUserCount(".info-user-move");

          function animateUserCount(selector) {
            var initialUserCount = 0;
            var targetUserCount = parseInt($(selector).text());

            $({ val: initialUserCount }).animate({ val: targetUserCount }, {
              duration: 2000,
              step: function () {
                $(selector).text(Math.floor(this.val).toLocaleString());
              },
              complete: function () {
                $(selector).text(targetUserCount.toLocaleString());
              }
            });
          }
        });

        function checkPw() {
          // 실제로 현재 비밀번호가 맞는지 확인하는 로직으로 대체
          var isCurrentPasswordCorrect = true;

          // 비밀번호 입력 필드를 토글
          togglePasswordFields(isCurrentPasswordCorrect);
        }

        function togglePasswordFields(isCorrect) {
          var passwordFields = ["fPW1", "fPw2"];

          passwordFields.forEach(function (field) {
            document.getElementById(field).disabled = !isCorrect;
          });

          var currentPasswordInput = document.getElementById("cPw");

          if (isCorrect) {
            currentPasswordInput.classList.remove("is-invalid");
            currentPasswordInput.classList.add("is-valid");
          } else {
            currentPasswordInput.classList.remove("is-valid");
            currentPasswordInput.classList.add("is-invalid");
          }

          // 새 비밀번호 입력 필드를 검증
          validateNewPasswordFields();
        }

        function validateNewPasswordFields() {
          var newPassword1 = document.getElementById("fPW1").value;
          var newPassword2 = document.getElementById("fPw2").value;

          var isValidLength = newPassword1.length >= 8;
          var passwordsMatch = newPassword1 === newPassword2 && newPassword2 !== "" && newPassword1 !== "";

          var fields = ["fPW1", "fPw2"];

          fields.forEach(function (field) {
            var element = document.getElementById(field);
            element.classList.toggle("is-valid", isValidLength && passwordsMatch);
            element.classList.toggle("is-invalid", !isValidLength || !passwordsMatch);
          });

          document.getElementById("fPW1").classList.remove("invalid-feedback");
        }

        function changePw() {
          var newPassword1 = document.getElementById("fPW1").value;
          var newPassword2 = document.getElementById("fPw2").value;

          if (newPassword1 === newPassword2 && newPassword1.length >= 8) {
            // 비밀번호 변경 로직을 여기에 추가
            alert("비밀번호가 성공적으로 변경되었습니다.");
          } else {
            alert("비밀번호가 일치하지 않거나 8자 이상이어야 합니다.");
          }
        }
</script>

</body>

</html>