body {
  margin: 0;
  padding: 0;
}

.search-box1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: absolute;
  width: 500px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
  z-index: 200;
  -webkit-transform: translate3d(-470px, 0, 0);
  -moz-transform: translate3d(-470px, 0, 0);
  transform: translate3d(-470px, 0, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar.open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.search-list-title {
  position: relative;
  width: 100%;
}
.search-btn-icon {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  z-index: 30;
}
.search-btn-list {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  outline-offset: -1px;
  padding-left: 0px;
}
.search-btn-list .item-search-tab {
  display: table-cell;
}

.search-btn-list .item-search-tab .search-btn-tab {
  padding: 13px 0px;
  box-sizing: border-box;
  color: rgb(51, 51, 51);
  line-height: 16px;
  letter-spacing: -0.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn-icon .search-input {
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.search-btn-tab {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.search-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.search-end {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  width: 180px;
  height: 33px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.search-icon input {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  overflow: auto;
  z-index: -1;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.7);
  line-height: normal;
}
.search-icon input:focus {
  outline: none;
  width: 100%;
  text-align: left;
}
#search1 {
  color: black;
  padding-top: 3px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 2px solid rgb(117 117 117);
}
#search1:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#search2 {
  color: black;
  padding-top: 3px;
  font-size: 13px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 2px solid rgb(117 117 117);
}
#search2:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#searchValue1 {
  background-color: rgb(255, 255, 255, 0.1);
  font-size: 20px;
}
#searchValue2 {
  background-color: rgb(255, 255, 255, 0.1);
  font-size: 20px;
}
button {
  cursor: pointer;
}
.bike-button {
  border: 2px solid rgb(104 104 104);
  background-color: #ffffff;
}
.bike-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bike-button:hover .bike-icon,
.bike-button:hover .bike-text {
  color: #ffffff;
}
.bus-button {
  border: 2px solid rgb(104 104 104);
  background-color: #ffffff;
}
.bus-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bus-button:hover .bus-icon,
.bus-button:hover .bus-text {
  color: #ffffff;
}
.bike-text {
  font-size: 20px;
  height: 10px;
  padding-left: 10px;
}
.bus-text {
  font-size: 20px;
  height: 10px;
  padding-left: 10px;
}
.menu-list {
  font-size: 20px;
  text-align: center;
}
.menu-list-box {
  position: absolute;
  overflow-y: scroll;
  top: 270px;
  width: 100%;
}
.side-button {
  position: absolute;
  width: 25px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 30%;
  left: 100%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  z-index: 100;
}
.side-button.rotated {
  border-radius: 10px 0 0 10px;
  transform: rotate(180deg);
}
em {
  font-size: 15px;
}
span {
  font-size: 15px;
}
.search-info {
  background-color: rgba(225, 240, 255, 0.7);
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.search-list-info {
  background-color: rgba(225, 240, 255, 0.7);
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.search-list {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}
.search-list-start {
  margin-left: 20px;
}
.search-list-start :last-child {
  margin-left: 24%;
}

.search-list-bus {
  font-size: 20px;
  margin-left: 45.5%;
}
.search-list-end {
  margin-left: 20px;
}
.search-list-end :last-child {
  margin-left: 24%;
}

.hidden {
  display: none;
}

.active-tab {
  background-color: #ffffff;
}
hr {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
}

#menu_wrap ul {
    list-style: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 0;
    padding: 20px 0 20px 25px;
  }
  #menu_wrap hr + div:hover,
  #menu_wrap hr + div:focus {
    background-color: rgba(37, 188, 116, 0.7);
    cursor: pointer;
    border-radius: 5px;
  }

  #menu_wrap hr + div:active {
    box-shadow: none;
  }
  #menu_wrap hr + div {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(232, 242, 252, 0.8);
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 3px 3px 3px #c9c9c9;
    transition-duration: 0.2s;
  }
  #menu_wrap img {
    width: 35px;
    height: 55px;
  }
  .map_wrap {
    overflow: scroll;
    height: 405px;
  }

@media (max-width: 375px) and (max-height: 667px) {
  .sidebar {
    position: absolute;
    width: 325px;
    height: 610px;
    background-color: rgba(255, 255, 255, 0.75);
    top: 0;
    z-index: 200;
    -webkit-transform: translate3d(-305px, 0, 0);
    -moz-transform: translate3d(-305px, 0, 0);
    transform: translate3d(-305px, 0, 0);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .sidebar.open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  #menu_wrap ul {
    list-style: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 0;
    padding: 20px 0 20px 25px;
  }
  #menu_wrap hr + div:hover,
  #menu_wrap hr + div:focus {
    background-color: rgba(37, 188, 116, 0.7);
    cursor: pointer;
    border-radius: 5px;
  }

  #menu_wrap hr + div:active {
    box-shadow: none;
  }
  #menu_wrap hr + div {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(232, 242, 252, 0.8);
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: 3px 3px 3px #c9c9c9;
    transition-duration: 0.2s;
  }
  #menu_wrap img {
    width: 35px;
    height: 55px;
  }
  .map_wrap {
    overflow: scroll;
    height: 420px;
    padding-bottom: 50px;
  }
  .kcal-move {
    position: absolute;
    width: 335px;
    height: 80px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    left: 20px;
    border-radius: 10px 10px 5px 5px;
  }
  .kcal-move-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    color: #e9ff17;
    padding: 0;
    margin: 0;
  }
  .kcal-move-list li {
    border: 1px solid white;
    width: 112px;
    height: 80px;
    padding-top: 5px;
    text-align: center;
  }
  .kcal-move-list li span:nth-child(1) {
    font-size: 17px;
  }
  .kcal-move-list li span:nth-child(3) {
    font-size: 18px;
    line-height: 3;
  }
}
.bus-list-info {
    position: absolute;
    width: 80px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 70px;
    right: 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 4px;
}
.bus-info-color {
    padding: 0;
}
.bus-info-color li{
    list-style: none;
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
    text-align: center;
    border-radius: 10px;
    line-height: 1;
    margin-bottom: 5px;
}
.bus-info-color li span {
    font-size: 12px;
}
