* {
    margin: 0;
    padding: 0;
  }
  #chart-container {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  #chart-day {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }
  