body {
  margin: 0;
  padding: 0;
}

.search-box1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: absolute;
  width: 800px;
  height: 1500px;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
  z-index: 200;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.sidebar.close {
  -webkit-transform: translate3d(-750px, 0, 0);
  -moz-transform: translate3d(-750px, 0, 0);
  transform: translate3d(-750px, 0, 0);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.search-list-title {
  position: relative;
  width: 100%;
}
.search-btn-icon {
  display: flex;
  justify-content: center;
  padding: 24px 25px 20px;
  z-index: 30;
}
.search-btn-list {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  outline-offset: -1px;
  padding-left: 0px;
}
.search-btn-list .item-search-tab {
  display: table-cell;
}

.search-btn-list .item-search-tab .search-btn-tab {
  padding: 13px 0px;
  box-sizing: border-box;
  font-size: 40px;
  color: rgb(51, 51, 51);
  line-height: 16px;
  letter-spacing: -0.4px;
}

.search-btn-icon .search-input {
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.search-btn-tab {
  width: 250px;
  height: 80px;
}
.search-start {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-end {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  width: 550px;
  height: 50px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.search-icon input {
  width: 100%;
  border: none;
  -webkit-appearance: none;
  text-align: center;
  overflow: auto;
  z-index: -1;
  margin-left: 10px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.7);
}
.search-icon input:focus {
  outline: none;
  width: 100%;
  text-align: left;
}
#search1 {
  font-size: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;
}
#search1:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#search2 {
  font-size: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 10px 10px;
}
#search2:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#searchValue1 {
  background-color: rgb(255, 255, 255, 0.1);
  font-size: 40px;
}
#searchValue2 {
  background-color: rgb(255, 255, 255, 0.1);
  font-size: 40px;
}
button {
  cursor: pointer;
}
.bike-button {
  background-color: #ffffff;
}
.bike-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bike-button:hover .bike-icon,
.bike-button:hover .bike-text {
  color: #ffffff;
}
.bus-button {
  background-color: #ffffff;
}
.bus-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bus-button:hover .bus-icon,
.bus-button:hover .bus-text {
  color: #ffffff;
}
.bike-text {
  font-size: 40px;
  padding-left: 10px;
}
.bus-text {
  font-size: 40px;
  padding-left: 10px;
}
.menu-list {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
.menu-list-box {
  position: absolute;
  top: 370px;
  width: 100%;
}
.side-button {
  position: absolute;
  width: 40px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  top: 30%;
  left: 100%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  z-index: 100;
}
.side-button.rotated {
  transform: rotate(180deg);
}
em {
  font-size: 35px;
}
span {
  font-size: 33px;
}
.search-info {
  background-color: rgba(225, 240, 255, 0.7);
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.search-list-info {
  background-color: rgba(225, 240, 255, 0.7);
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.search-list {
  list-style: none;
  margin-top: 5px;
  padding-left: 0;
}
.search-list-start {
  margin-left: 20px;
}
.search-list-start :last-child {
  margin-left: 24%;
}

.search-list-bus {
  font-size: 40px;
  margin-left: 45.5%;
}
.search-list-end {
  margin-left: 20px;
}
.search-list-end :last-child {
  margin-left: 24%;
}

#placelist {
  list-style: none;
  font-size: 40px;
  width: 80%;
  padding: 0;
  margin-left: 10%;
  background-color: rgba(232, 242, 252, 0.7);
}
#placelist > a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.active-tab {
  background-color: lightgray;
}
