body {
  margin: 0;
  padding: 0;
}
.mapsearch {
}
.search-box1 {
  position: relative;
  background-color: aqua;
  width: 100%;
  height: 1400px;
}
.search-list-box {
  position: absolute;
  width: 500px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  top: 0;
}
.search-btn-icon {
  display: flex;
  justify-content: center;
  padding: 24px 25px 20px;
  z-index: 30;
}
.search-btn-list {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  outline-offset: -1px;
  padding-left: 0px;
}
.search-btn-list .item-search-tab {
  display: table-cell;
}

.search-btn-list .item-search-tab .search-btn-tab {
  padding: 13px 0px;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(51, 51, 51);
  line-height: 16px;
  letter-spacing: -0.4px;
}

.search-btn-icon .search-input {
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.search-btn-tab {
  width: 170px;
}
.search-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#search1 {
  background-color: #ffffff;
  margin-left: 5px;
  margin-bottom: 3px;
}
#search1:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#search2 {
  background-color: #ffffff;
  margin-left: 5px;
}
#search2:hover {
  border-radius: 5px;
  background-color: #25bc74;
  color: #ffffff;
}
#searchValue1 {
  font-size: 20px;
  margin-bottom: 3px;
}
#searchValue2 {
  font-size: 20px;
}
button {
  cursor: pointer;
}
.bike-button {
  background-color: #ffffff;
}
.bike-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bike-button:hover .bike-icon,
.bike-button:hover .bike-text {
  color: #ffffff;
}
.bus-button {
  background-color: #ffffff;
}
.bus-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bus-button:hover .bus-icon,
.bus-button:hover .bus-text {
  color: #ffffff;
}
.bike-text {
  padding-left: 10px;
}
.bus-text {
  padding-left: 10px;
}
.menu-list {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}
.side-button-menu {
  position: relative;
  width: 100%;
  height: 100%;
}
.side-button .side-button-out {
  position: absolute;
  width: 20px;
  height: 40px;
  left: 100%;
}
.list-box {
  background-color: crimson;
  width: 400px;
  height: 100%;

  margin-left: 50px;
}
