body {
  margin: 0;
  padding: 0;
}

.search-box1 {
  background-color: aqua;
  width: 500px;
  height: 100%;
}
.search-btn-icon {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 24px 25px 20px;
  z-index: 30;
}
.search-btn-list {
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  outline-offset: -1px;
  padding-left: 0px;
}
.search-btn-list .item-search-tab {
  display: table-cell;
}

.search-btn-list .item-search-tab .search-btn-tab {
  display: block;
  position: relative;
  padding: 13px 0px;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(51, 51, 51);
  line-height: 16px;
  letter-spacing: -0.4px;
}

.search-btn-icon .search-input {
  position: relative;
  margin-top: 24px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.search-btn-tab {
  width: 170px;
}
.search-input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#search1 {
  margin-left: 5px;
  margin-bottom: 3px;
}
#search2 {
  margin-left: 5px;
}
#searchValue1 {
  font-size: 20px;
  margin-bottom: 3px;
}
#searchValue2 {
  font-size: 20px;
}
button {
  cursor: pointer;
}
.bike-button {
  background-color: #ffffff;
}
.bike-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bike-button:hover .bike-icon,
.bike-button:hover .bike-text {
  color: #ffffff;
}
.bus-button {
  background-color: #ffffff;
}
.bus-button:hover {
  background-color: #25bc74;
  border-radius: 10px;
}
.bus-button:hover .bus-icon,
.bus-button:hover .bus-text {
  color: #ffffff;
}
.bike-text {
  padding-left: 10px;
}
.bus-text {
  padding-left: 10px;
}
